.Display {

align-items: right !important;
text-align: right !important;
height: 100% !important;

}

body {
    background-color: antiquewhite;
}


.Search {

padding-top: 10%;
padding-bottom: 5%;
text-align: center;
}